* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #93c1dc;

}


main{
  width: 100%;
  height: 100%;

}


.keyboard{
  margin: 1rem;
  /* width: 80%; */
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* gap: 40px; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.keyboard h1{
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
}

.piano-keys{
  margin-top: 10%;
  display: flex;
  gap: 5px;
  cursor: pointer;
  overflow: hidden;
  /* background-color: red; */
}

.piano-keys span{
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
  font-weight: 900;
}

.white{
  height: 230px;
  width: 70px;
  background-color: white;
  color: black;
}



.black{
  margin: 0 -22px 0 -22px;
  height: 160px;
  width: 44px;
  background-color: #000000;
  color: white;
  z-index: 3;

   position: relative;
  top: -20px; 
}



footer{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}