* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
    width: 100%;
    height: 100%;
background-color: #000;
 overflow-x: hidden;
    overflow-y: auto;
  
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

button:active{
    transform: scale(0.9);
}


h1{
    white-space: nowrap;
}