@font-face {
    font-family: hell;
    src: url("./assets/fonts/helvetica.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hell;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main_container {
    width: 100%;
    /* min-width: 1300px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F3F3F3;
    overflow: hidden;
}

nav {
    width: 100%;
    padding-inline: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav #logo {
    
    height: 30px;
    width: 30px;
}

nav #links {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav .link {
    font-size: clamp(6px, 3vw, 16px);
    cursor: pointer;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

nav #left {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav #right #ctaBtn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: clamp(6px, 3vw, 12px);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

#ctaBtn i {
    font-size: 1rem;
}

#ctaLink {
    font-size: 1rem;
    color: black;
}

#hero {
        height: calc(100vh - 80px);
        padding: 20px 20px 10px 20px;
        padding-left: 50px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 0px;
        align-items: center;
        flex-direction: row;
}


#hero-left {
    font-size: 9px;
    font-style: italic;
    color: #b4b3b3;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
}

#hero-left #line {
    width: 1px;
    height: 55vh;
    background-color: #b4b3b3;
    margin-bottom: 20px;
}

#hero-left h4 {
    font-weight: 400;
    transform: rotate(-90deg);
    transform-origin: left;
    font-size: clamp(8px, .8vw, 20px);
    white-space: nowrap;
}

#hero-left p {
    font-weight: 400;
    transform: rotate(-90deg);
    transform-origin: left;
    font-size: clamp(8px, .8vw, 20px);
}

#hero-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-width: 450px;
    height: 100%;
    padding-top: 30px;
}



#stats {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#statBox {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#statBox .count {
    font-weight: 300;
    font-size: clamp(30px, 9vw, 50px);
    line-height: 1.1;
    letter-spacing: -2px;
}



#statBox .title {
    font-weight: 500;
    font-size: clamp(12px, 3vw, 15px);
    line-height: 1.1;
    color: #4a4a4a;
}

#bigText {
    font-weight: 100;
    font-size: 14rem;
}

#headline {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}


#scrollDown {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
}
 

#scrolldownText {
    font-size: clamp(9px, 2.4vw, 12px);
}

#scrollDown i {
    font-size: clamp(12px, 3vw, 16px);
}

#hero-right {
    width: 100%;
    height: 100%;
    position: relative;
    right: 5%;
    bottom: 10%;

}
#hero-right img {
    width: 100%;
    object-fit: cover;
        
}



    
  

    

  