* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
background-image: url('images/windows.jpg');
background-size: cover;
overflow: hidden;
}


:root{
    --hover-color:rgba(137, 137, 137, 0.248);
}

main{
    width:100%;
    height: 100%;

}


.taskbar{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: rgba(38, 38, 38, 0.647);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */

}



.img-div{
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    

}
.desktop{
    border-radius: 8px;
}

.desktop>img{
    height: 45px;
}
.desktop:hover{
    background-color: var(--hover-color);

}

img{
    height: 25px;
    pointer-events: none;
}

 .img-div:hover{
    background-color:var(--hover-color);

 }

.left-self{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

}
#self-image{
    padding: 10px;
    border-radius: 8px;

}
#self-image:hover{
    background-color: var(--hover-color);

}

.home-img{
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-img:hover{
    background-color: var(--hover-color);

}

.navbar{
    gap: 5px;
    position: absolute;
    bottom: 0;
    /* background-color: green; */
    display: flex;
    align-items: center;
    position: relative;
}


.search-bar{
    margin-inline: 10px;
    height: 30px;
    background-color: rgba(148, 148, 148, 0.537);
    width: 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    position: relative;
    overflow: hidden;
    gap: 0.3rem;
}

.search-bar i{
    color: rgba(255, 255, 255, 0.848);
    font-size: 1.2rem;
}

.search-input{
    border: none;
    outline: none;
    background-color: transparent;
    /* background-color: red; */
    color: white;
    
}
.search-input::placeholder{
    color: rgb(199, 199, 199);
}


.search-img{
    width: 50px;
    height: 100px;
    position: absolute;
    right: 0;
}


.applications{
    display: flex;
}







.home-screen{
    /* background-color: red; */
    color: white;
    width: 100%;
    height: calc(100% - 50px);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;      
    grid-auto-columns: 60px; 
    gap: 1.5rem;
    flex-wrap: wrap;


}


.single-app{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
}

.single-app>img{
    /* width: 40px; */
    background-size: cover;
    height: 40px;
}

.single-app:hover{
    background-color: var(--hover-color);
}













.shortcut-div{
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    color: rgba(255, 255, 255, 0.866);
    width: 180px;
    align-items: center;
    background-color: rgba(72, 72, 72, 0.555);
    padding: 5px;
    border-radius: 10px;
    /* display: flex; */
    flex-direction: column;
    gap:2px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    backdrop-filter: blur(10px);
}

.short-div{
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.short-div:hover{
    background-color: var(--hover-color);
}
.inner-short{
    align-items: center;
    gap: 1rem;
    display: flex;
}

.inner-short>img{
    height: 20px;
}




















.app-window {
    background: #111;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title-bar {
    height: 32px;
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
}

.title{
    display: flex;
    align-items: center;
    gap: 5px;
}

.win-controls button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 6px;
}

.window-frame {
    flex: 1;
    border: none;
    width: 100%;
    height: 100%;
}






.right-nav{
    margin-right: 1rem;
    /* background-color: red; */
    display: flex;
    color: white;
    align-items: center;
    gap: 1rem;
}

.network{
    display: flex;
    gap: 0.5rem;
}

.datetime{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}