* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
    width: 100%;
    height: 100%;
background-color: #000;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.elem{
    width: 100%;
    height: 100px;
    /* background-color: #b6b6b6; */
    border-bottom: 1px solid #444;
    border-radius: 10px;
}





