* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
    width: 100%;
    height: 100%;
background-color: #000;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.elem{
    width: 100%;
    height: 100px;
    /* background-color: #b6b6b6; */
    border-bottom: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 24px;
    font-family: Helvetica;
    cursor: pointer;
}


.elem img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    background-position: center;
    position: absolute;
    border-radius: 50px;
    opacity: 0;
    transition:all linear 0.5s;
}





