* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
background-color: #000;
}




main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card{
    width: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 50px;
    color: #555;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

}

.imgdiv{
    cursor: pointer;

    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgdiv img{
    width: 100%;
    object-fit: cover;
}



.main-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 1rem;

}

.btns{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}

.button{
    width: 50px;
  height: 50px;
  /* display: inline-block; */
  background: transparent;
  color: #000;
  cursor: pointer;
}

.button svg{
    width: 35px;
    height: 35px;
}







#pop-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 4rem;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#pop-btn.animate {
  animation: heartPop 1.2s cubic-bezier(.2,.8,.3,1) forwards;
}

@keyframes heartPop {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9) rotate(var(--r));
  }
  30% {
    transform: translate(-50%, -50%) scale(1.8) rotate(var(--r));
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -400%) scale(1) rotate(var(--r));
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -400%) scale(0) rotate(var(--r));
  }
}



