* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
background-color: #000;
}


#box{
    width: 300px;
    height: 300px;
    background-color: #444;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}
button{
   font-size: 20px;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #c60808;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 50px auto;
}
button:active{
    transform: scale(0.95);
}